.difficulty-btn {
  background: #7600d6;
  color: white;
  border: none;
  border-radius: 9px;
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 20%;
}

.difficulty-btn:hover {
  background: #c300ff;
}

.difficulty-btn:focus {
  background: #c300ff;
}

.new-game-btn {
  background: #7600d6;
  color: white;
  border: none;
  border-radius: 9px;
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 20%;
}

.new-game-btn:hover {
  background: #c300ff;
}

.Timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.difficult-style {
  font-weight: bold;
}

.green {
  color: green;
}

@media only screen and (max-width: 600px) {
  .difficulty-btn {
    width: 30%;
  }

  .new-game-btn {
    width: 50%;
  }

  .turn-style {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2rem;
  }

  .Timer {
    font-size: 1.5rem;
  }
}
