.submit-btn {
  background: rgb(0, 243, 0);
  color: white;
  border: none;
  font-weight: normal;
}

.submit-btn:hover {
  background: #009468;
  color: white;
}

.cancel-btn {
  background: red;
  color: white;
  border: none;
  font-weight: normal;
}

.cancel-btn:hover {
  background: #bb0000;
  color: white;
}

.x-btn {
  display: flex;
  flex-direction: row-reverse;
  background: red;
  color: white;
  border: none;
  font-weight: normal;
}

.x-btn:hover {
  background: rgb(197, 0, 0);
}

.modal-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: rgb(92, 92, 92);
  box-shadow: rgba(00, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
