.submit-btn {
  background: rgb(0, 243, 0);
  color: white;
  border: none;
  font-weight: normal;
}

.submit-btn:hover {
  background: #009468;
  color: white;
}

.cancel-btn {
  background: red;
  color: white;
  border: none;
  font-weight: normal;
}

.cancel-btn:hover {
  background: #bb0000;
  color: white;
}

.x-btn {
  display: flex;
  flex-direction: row-reverse;
  background: red;
  color: white;
  border: none;
  font-weight: normal;
}

.x-btn:hover {
  background: rgb(197, 0, 0);
}
