.App {
  max-width: 860px;
  margin: 40px auto;
}

button {
  background: none;
  border: 1.5px solid white;
  padding: 6px 12px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9em;
  transition: all ease-in 0.15s;
}

.card-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* fr = fraction */
  grid-gap: 20px;
}
